In [1]:
#Import pandas
import pandas as pd

In [2]:
#Reading the csv file
Netflix_Viewing_History = pd.read_csv('NetflixViewingHistory.csv')
Netflix_Viewing_History

                                                  Title      Date
0            Russian Doll: Season 2: Station to Station    5/4/22
1                   Russian Doll: Season 2: Brain Drain    5/3/22
2             Russian Doll: Season 2: Coney Island Baby   4/26/22
3                        Russian Doll: Season 2: Nowhen   4/26/22
4     Eternally Confused and Eager for Love: Season ...   4/10/22
...                                                 ...       ...
1967                    The OA: Part I: Chapter 4: Away  12/22/16
1968                The OA: Part I: Chapter 3: Champion  12/22/16
1969            The OA: Part I: Chapter 2: New Colossus  12/22/16
1970              The OA: Part I: Chapter 1: Homecoming  12/22/16
1971                                 The Imitation Game  12/21/16

[1972 rows x 2 columns]

In [3]:
# How many entries AKA rows are in the data?
len(Netflix_Viewing_History)

1972

In [4]:
#How many columns are in the data?
len(Netflix_Viewing_History.columns)

2

In [5]:
#What is the name of the first column in the data?
Netflix_Viewing_History.columns[0]

'Title'

In [6]:
#What is the name of the second column in the data?
Netflix_Viewing_History.columns[1]

'Date'

In [23]:
#How many times was an episode of the show Designated Survivor watched according to the data?
Netflix_Viewing_History['Title'].apply(lambda title: 'Designated Survivor' in title).sum()

10

In [24]:
#When was the starting date of watching the show Bridgerton according to the data?
#Firstly, find the data containing the title Bridgerton
Netflix_Viewing_History.loc[('Bridgerton' in title for title in Netflix_Viewing_History['Title']),:]

                                                Title     Date
8     Bridgerton: Season 2: The Viscount Who Loved Me   4/4/22
9                       Bridgerton: Season 2: Harmony   4/3/22
10                   Bridgerton: Season 2: The Choice   4/2/22
11          Bridgerton: Season 2: An Unthinkable Fate  3/31/22
12                      Bridgerton: Season 2: Victory  3/31/22
13         Bridgerton: Season 2: A Bee in Your Bonnet  3/30/22
14             Bridgerton: Season 2: Off to the Races  3/30/22
15               Bridgerton: Season 2: Capital R Rake  3/26/22
409              Bridgerton: Season 1: After the Rain   1/9/21
410                Bridgerton: Season 1: Oceans Apart   1/9/21
411                       Bridgerton: Season 1: Swish   1/9/21
412              Bridgerton: Season 1: The Duke and I   1/9/21
413          Bridgerton: Season 1: An Affair of Honor   1/8/21
414            Bridgerton: Season 1: Art of the Swoon   1/8/21
415           Bridgerton: Season 1: Shock and Delight   1/8/21
416  Bridgerton: Season 1: Diamond of the First Water   1/8/21

In [25]:
#Secondly, sort the data by date
Netflix_Viewing_History.loc[('Bridgerton' in title for title in Netflix_Viewing_History['Title']),:].sort_values('Date',ascending=True)

                                                Title     Date
413          Bridgerton: Season 1: An Affair of Honor   1/8/21
414            Bridgerton: Season 1: Art of the Swoon   1/8/21
415           Bridgerton: Season 1: Shock and Delight   1/8/21
416  Bridgerton: Season 1: Diamond of the First Water   1/8/21
409              Bridgerton: Season 1: After the Rain   1/9/21
410                Bridgerton: Season 1: Oceans Apart   1/9/21
411                       Bridgerton: Season 1: Swish   1/9/21
412              Bridgerton: Season 1: The Duke and I   1/9/21
15               Bridgerton: Season 2: Capital R Rake  3/26/22
13         Bridgerton: Season 2: A Bee in Your Bonnet  3/30/22
14             Bridgerton: Season 2: Off to the Races  3/30/22
11          Bridgerton: Season 2: An Unthinkable Fate  3/31/22
12                      Bridgerton: Season 2: Victory  3/31/22
10                   Bridgerton: Season 2: The Choice   4/2/22
9                       Bridgerton: Season 2: Harmony   4/3/22
8     Bridgerton: Season 2: The Viscount Who Loved Me   4/4/22

In [27]:
#Thirdly, getting just the dates of watching Bridgerton.
Netflix_Viewing_History.loc[('Bridgerton' in title for title in Netflix_Viewing_History['Title']),:].sort_values('Date',ascending=True)['Date']

413     1/8/21
414     1/8/21
415     1/8/21
416     1/8/21
409     1/9/21
410     1/9/21
411     1/9/21
412     1/9/21
15     3/26/22
13     3/30/22
14     3/30/22
11     3/31/22
12     3/31/22
10      4/2/22
9       4/3/22
8       4/4/22
Name: Date, dtype: object

In [28]:
#Lastly, get the starting date of watching the Bridgerton show using the iloc function.
Netflix_Viewing_History.loc[('Bridgerton' in title for title in Netflix_Viewing_History['Title']),:].sort_values('Date',ascending=True)['Date'].iloc[0]

'1/8/21'

In [29]:
#What is the title of the first episode of the show Bridgerton watched according to the data?
#Firstly, only show the title of bridgteron show
Netflix_Viewing_History.loc[('Bridgerton' in title for title in Netflix_Viewing_History['Title']),:].sort_values('Date',ascending=True)['Title']

413            Bridgerton: Season 1: An Affair of Honor
414              Bridgerton: Season 1: Art of the Swoon
415             Bridgerton: Season 1: Shock and Delight
416    Bridgerton: Season 1: Diamond of the First Water
409                Bridgerton: Season 1: After the Rain
410                  Bridgerton: Season 1: Oceans Apart
411                         Bridgerton: Season 1: Swish
412                Bridgerton: Season 1: The Duke and I
15                 Bridgerton: Season 2: Capital R Rake
13           Bridgerton: Season 2: A Bee in Your Bonnet
14               Bridgerton: Season 2: Off to the Races
11            Bridgerton: Season 2: An Unthinkable Fate
12                        Bridgerton: Season 2: Victory
10                     Bridgerton: Season 2: The Choice
9                         Bridgerton: Season 2: Harmony
8       Bridgerton: Season 2: The Viscount Who Loved Me
Name: Title, dtype: object

In [30]:
#Lastly, find the specific title of the bridgerton episode first watched.
Netflix_Viewing_History.loc[('Bridgerton' in title for title in Netflix_Viewing_History['Title']),:].sort_values('Date',ascending=True)['Title'].iloc[0]

'Bridgerton: Season 1: An Affair of Honor'

In [31]:
#When was the last date of watching the show Bridgerton according to the data?
#Firstly, sort the data in a descending order
Netflix_Viewing_History.loc[('Bridgerton' in title for title in Netflix_Viewing_History['Title']),:].sort_values('Date',ascending=False)['Date']

8       4/4/22
9       4/3/22
10      4/2/22
11     3/31/22
12     3/31/22
13     3/30/22
14     3/30/22
15     3/26/22
409     1/9/21
410     1/9/21
411     1/9/21
412     1/9/21
413     1/8/21
414     1/8/21
415     1/8/21
416     1/8/21
Name: Date, dtype: object

In [32]:
#Secondly, use the iloc function to find the last date of watching the bridgeton show.
Netflix_Viewing_History.loc[('Bridgerton' in title for title in Netflix_Viewing_History['Title']),:].sort_values('Date',ascending=False)['Date'].iloc[0]

'4/4/22'

In [33]:
#What is the title of the last episode of the show Bridgerton watched according to the data?
#Firstly, only show the title of the bridgerton show
Netflix_Viewing_History.loc[('Bridgerton' in title for title in Netflix_Viewing_History['Title']),:].sort_values('Date',ascending=False)['Title']

8       Bridgerton: Season 2: The Viscount Who Loved Me
9                         Bridgerton: Season 2: Harmony
10                     Bridgerton: Season 2: The Choice
11            Bridgerton: Season 2: An Unthinkable Fate
12                        Bridgerton: Season 2: Victory
13           Bridgerton: Season 2: A Bee in Your Bonnet
14               Bridgerton: Season 2: Off to the Races
15                 Bridgerton: Season 2: Capital R Rake
409                Bridgerton: Season 1: After the Rain
410                  Bridgerton: Season 1: Oceans Apart
411                         Bridgerton: Season 1: Swish
412                Bridgerton: Season 1: The Duke and I
413            Bridgerton: Season 1: An Affair of Honor
414              Bridgerton: Season 1: Art of the Swoon
415             Bridgerton: Season 1: Shock and Delight
416    Bridgerton: Season 1: Diamond of the First Water
Name: Title, dtype: object

In [34]:
#Lastly, find the title of the last show of bridgerton watched.
Netflix_Viewing_History.loc[('Bridgerton' in title for title in Netflix_Viewing_History['Title']),:].sort_values('Date',ascending=False)['Title'].iloc[0]

'Bridgerton: Season 2: The Viscount Who Loved Me'